# Сконфигурируйте проект: подставьте свои значения после "=".
# После заполнения переименуйте этот файл в ".env".
# Убедитесь, что ".env" в .gitignore — не допускайте выгрузки секретов на github.


# Django core
# Секретный ключ Django.
SECRET_KEY=your_secret_key_here

# Переменная DEBUG только для разработки.
# В остальных случаях ее необходимо оставить в комментарии
# Допустимые значения (регистр не важен, указывать без ""): "1", "true", "yes", "y", "on"
DEBUG=True

# Переключатель "продакшн"-режима: используется в settings.py для выбора БД.
# "t" — Прод (Postgres), любое другое значение/пусто — разработка (SQLite).
PROD=f


# База данных

# SQLite (если PROD != "t")
DATABASE_URL=sqlite:///db.sqlite3

# Postgres (если PROD=t)
NAMEDB=your_db_name
USERDB=your_db_user
PASSWORDDB=your_db_password
HOSTDB=localhost
PORTDB=5432


# Telegram API (для парсера)
# Авторизуйтесь на https://my.telegram.org/apps по номеру телефона вашего Telegram-аккаунта.
# Откройте API development tools, заполните поля App configuration (если уже заполнены — не меняйте) и сохраните настройки.
# Заполните данные о приложении и нажмите "Create application"
# Полученные API ID и API HASH, копируем в TELEGRAM_API_ID и TELEGRAM_API_HASH
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Строка сессии, чтобы не логиниться заново при каждом запуске.
# Сгенерируйте / обновите строку сессии с помощью "make s". Новая строка сессии появится в конце .env.
#TELEGRAM_SESSION_STRING=

# Данные аккаунта, от имени которого работает парсер.
PHONE=80000000000
#TELEGRAM_PASSWORD=
